SMTP Command/Response Code Pairs

- One is determined by the other
- https://docs.google.com/spreadsheets/d/15JSJtPwihr-9UdR9sb5dyWA_4OVzE5T_YCupmgeTUaw/edit?usp=sharing

| Reply Code | SMTP Command   | DSN     | Reason          | Memo                     |
|------------|----------------|---------|-----------------|--------------------------|
| 221        | QUIT           |         | Delivered       | RFC5321                  |
| 235        | AUTH           | 2.7.0   |                 | RFC4954                  |
| 422        | AUTH           | 4.7.12  | SecurityError   | RFC5238                  |
| 432        | AUTH           | 4.7.12  | SecurityError   | RFC4954, 5238            |
| 452, 522   | MAIL,RCPT,DATA || MailboxFull, SystemFull, MesgTooBig | RFC5321       |
| 50[0-4]    | *              |         | SyntaxError     | RFC5321                  |
| 521        | CONNECTION     |         | NotAccept       | RFC7504                  |
| 523        | AUTH           | X.7.10  | SecurityError   | RFC5248                  |
| 524        | AUTH           | X.7.11  | SecurityError?  | RFC5248                  |
| 525        | AUTH           | X.7.13  | SecurityError   | RFC5248                  |
| 534        | AUTH           | 5.7.9   | SecurityError   | RFC4954, 5248            |
| 535        | AUTH           | 5.7.8   | SecurityError   | RFC4954, 5248            |
| 538        | AUTH           | 5.7.11  | SecurityError   | RFC4954, 5248            |
| 556        | RCPT           |         | NotAccept       | RFC7504                  |

